* {font-family: Microsoft New Tai Lue;
}

body {background-color: rgb(175, 203, 174, 0.4);}

h2 {text-align: center;
	color: #176c30;
}

h3 {text-align: center;
	color: gray;
}

hr {
	width: 80%;
}

a {text-decoration: none;}

/* Top Nav Bar */

.menubar {
	position: relative;
	top: 10px;
	left: 6px;
	display: inline;
	padding: 5px;
	margin: auto;
	width: 50%;
	}

.searchfield {
	position: relative;
	border-style: solid;
	border-color: gray;
	top: -20px;
	border-radius: 15px;
	padding: 14px;
	width: 50%;
	}
	
.searchicon {
	position: absolute;
	top: 30px;
	left: 255px;
}

.searchicon img {
	width: 25px;
	height: auto;
}

.menubar img {
	width: 50px;
	height: auto;
	}
	
.menu {
	padding-right: 10px;
}

.icon {
	padding-left: 10px;
}

///* Categories / Gitter *///

.grid-container img {
	width: 10px;
	height: auto;
}

.grid-container {
	position: relative;
	top: 30px;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
	padding: -40px;
}

.grid-container > div {
  text-align: center;
  padding: 1px 0;
  font-size: 30px;
  border-radius: 15px;
}

.grid-container img {
  border-radius: 10px;
}

//* Social Media Buttons *//

.some {
	position: relative;
	float: left;
	top: 90px;
	left: 50%;
	display: inline;
	padding: 15px;
	
}

.fb {
padding-right: 8px;
}

.ig {padding-left: 8px;
}

.some img {
	width: 50px;
	height: auto;
}

//* Line break *//

hr {
	position: relative;
	top: 10px;
	width: 80%;
	color: gray;
}

///* Slideshow *///

.mySlides {
	display:none
}

.w3-left, .w3-right, .w3-badge {
	cursor:pointer;
	display: inline;
}
.w3-left {
	z-index: 1;
	position: relative;
top: -150px;}

.w3-right {
	z-index: 1;
	position: relative;
	float: right;
top: -150px;}

.w3-badge {height:13px;width:13px;padding:0}

.mySlides {
	border-radius: 10px;
}

.border {
	border: solid;
	border-color: rgb(175, 203, 174, 0.4);
	border-radius: 15px;
}

/* Tekst boks på billeder */

.tinybox {background-color: #AFCBAE;
border-radius: 15px;}

.container {
	font-family: Microsoft New Tai Lue;
	position: relative;
	top: 10px;
	padding: 10px;
	text-align: center;
}

.containertiny {
	font-family: Microsoft New Tai Lue;
	font-size: small;
	position: relative;
	top: -5px;
	text-align: center;
}

p {
	font-family: Microsoft New Tai Lue;
	color: gray;
}
	